.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  height: 100px;
  border-bottom: .5px solid;

  .btn-group {
    width: 40%;
    display: flex;
    justify-content: space-between;

    button {
      background: transparent;
      border: 1px solid #2d2d2d;
      border-radius: 5px;
      padding: 8px 15px;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        border-color: #d26e2f;
        background: #d26e2f;
        color: #fff;
      }
    }

    .add {
      &:hover {
        border-color: #5dba2f;
        background: #5dba2f;
      }
    }
  }
}